<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.web.shop.mapper.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.orange.web.shop.model.Member">
        <id column="id" property="id" />
        <result column="member_no" property="memberNo" />
        <result column="phone_number" property="phoneNumber" />
        <result column="address" property="address" />
        <result column="email" property="email" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
        <result column="birthday" property="birthday" />
        <result column="date_created" property="dateCreated" />
    </resultMap>

</mapper>
