<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orange.web.shop.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.orange.web.shop.model.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="member_id" property="memberId" />
        <result column="date_created" property="dateCreated" />
        <result column="status" property="status" />
        <result column="date_cancelled" property="dateCancelled" />
        <result column="payment_type" property="paymentType" />
        <result column="order_note" property="orderNote" />
        <result column="shopping_date" property="shoppingDate" />
        <result column="shopping_way" property="shoppingWay" />
        <result column="company_name" property="companyName" />
        <result column="tax_id" property="taxId" />
        <result column="merchant_note" property="merchantNote" />
    </resultMap>

</mapper>
